<div id="footer">
    <div>
        <div id="contact">
            <h3>Contact Us</h3>
            <p>Synergy Network Ltd</p>
            <p>3 Union Street, Sligo</p>
            <p>F91 T440</p>
            <p>Ireland</p>
            <p>Tel: 071 914 6815</p>
            <p>E: <a href="mailto:support@synergynet.ie">Email Us</a></p>
        </div>
        <div id="clients-nationwide">
            <h3>Clients Nationwide</h3>
            <img src="@Url.Content("~/content/images/map-ireland-small.png")">
            
        </div>
        <div id="login-rescue">
            <div>
                <h3>Login Rescue</h3>
                <a href="http://www.synergynet.ie/support/login-rescue/" title="Access Login Rescue Here">
                    <img src="@Url.Content("~/content/images/login-rescue-button.png")">
                </a>
            </div>
        </div>
    </div>
</div>
