@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="total-failure">
    <h1><i class="fas fa-exclamation-triangle"></i>Error</h1>
    <h2>An error occurred while processing your request.</h2>
</div>

