@{
    ViewBag.Title = "Access Rights Issue";
}

<div class="total-failure">
    <h1><i class="fa fa-exclamation-triangle"></i>Your organisation has not been granted access rights to any of the application features.</h1>
    <h2>Please get in touch with Synergy Network support so we can resolve the issue by providing you with the correct access rights.</h2>
</div>

