<div class="modal fade" tabindex="-1" role="dialog" id="process-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm <span class="batch-setting-name"></span> Processing</h4>
            </div>
            <div class="modal-body">
                <p id="process-message"></p>
                <div>
                    <label>Bank Process Date</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input id="process-date-selector" type="text" class="form-control" autocomplete="off">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
