@using DirectDebits.ViewModels.Batches

@model BatchLineViewModel

<tr>
    <td>@Html.DisplayFor(m => m.Id)</td>
    <td>@Html.DisplayFor(m => m.Name)</td>
    <td>@Html.DisplayFor(m => m.Amount)</td>
</tr>
